server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:file:./data/jdocdb;MODE=PostgreSQL;AUTO_SERVER=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

app:
  jwt:
    # Change this in production
    secret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_32+_CHARS"
    expirationMillis: 86400000 # 1 day
  uploadsDir: "./uploads"
  ollama:
    baseUrl: "http://localhost:11434"
    model: "jdoc"

logging:
  level:
    org.springframework.security: INFO
